<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Global Earthquake Map</title>
    <!-- ✅ 外部樣式 -->
    <link rel="stylesheet" href="/static/css/styles.css">
    
    <!-- Deck GL  -->
    <script src="https://unpkg.com/deck.gl@latest/dist.min.js"></script>
    <!-- optional if mapbox base map is needed -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.13.3/mapbox-gl.css" rel="stylesheet" />
    <script defer src="https://api.mapbox.com/mapbox-gl-js/v1.13.3/mapbox-gl.js"></script>

    <!-- ✅ 外部 JS -->
    <script defer src="/static/js/main.js" defer></script>
</head>
<body>
<header>
    <strong>Global Earthquake Map</strong>
</header>

<!-- ✅ 查詢欄位 -->
<form id="query-form">
    <div>
        <label>Start Time</label>
        <input type="datetime-local" name="start_time">
    </div>
    <div>
        <label>End Time</label>
        <input type="datetime-local" name="end_time">
    </div>
    <div>
        <label>Min Magnitude</label>
        <input type="number" step="0.1" name="min_magnitude" min="0" max="10">
    </div>
    <div>
        <label>Max Magnitude</label>
        <input type="number" step="0.1" name="max_magnitude" min="0" max="10">
    </div>
    <div>
        <label>Region</label>
        <input type="text" name="region">
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>

<!-- ✅ 地圖嵌入區塊 -->
<div id="map-container">
    
</div>

</body>
</html>
